@import url('https://fonts.googleapis.com/css2?family=Montaga&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --primary-color: #4E47FF;
    --secondary-color: #fff;
    --hover-color: #ffb109;
    --black2-color: #252432;
    --p-color: rgb(0, 0,0, 50%);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}
/*---share-style--- */
.btn{
     padding: 5px 10px;
        border-radius: 10px;
        border: none;
        background-color: var(--primary-color);
        transition: all ease-in-out 0.6s;
}
.btn:hover{
     transform: translateY(-7px);
    background-color: var(--hover-color);
}
/* ---header-style---*/
header{
    width: 100%;
    position: relative;
    height: 730px;
    background: url(../Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
   
    

}
/*----navbar style----*/
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px 150px;
}
.navbar a{
    text-decoration: none;
    
}
.logo{
    font-size: 48px;
}
.logo a{
    color: var(--primary-color);
    font-weight: 700;
    transition: all ease-in-out 0.6s;
} 
.logo a:hover{
    text-decoration: underline;
    color: var(--hover-color);
}   
.navbar-sign-up-btn a{
    height: 60px;
    width: 132px;
    font-size: 16px;
    font-weight: bold;
    color: var(--secondary-color);
    
}
.navbar-sign-up-btn button{
        padding: 5px 10px;
        border-radius: 10px;
        border: none;
        background-color: var(--primary-color);
        transition: all ease-in-out 0.6s;
}
.navbar-sign-up-btn button:hover{
    transform: translateY(-7px);
    background-color: var(--hover-color);
}

/*---banner-style--- */

.banner{
    text-align: center;
    
    margin: 150px auto;
    height: 153px;
    width: 905px;
}
.banner h1{
    font-size: 65px;
}
.banner button{
    font-size: 16px;
    padding: 7px 10px;
    border-radius: 10px;
    border: none;
    background-color: var(--primary-color);
    margin: 50px 0px;
    transition: all ease-in-out .6s ;
}
.banner button a{
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: bold;
}
.banner button:hover{
    transform: translateY(-7px);
    background-color: var(--hover-color);
}  

/*---section-style--- */

.action{
    position: relative;
    z-index: 1000;
    display: flex;
    flex-direction: column(2,1fr);
    column-gap: 223px;
    justify-content: space-between;
    padding: 90px 150px;
    align-items: center;
} 
.action-left{
    width: 517px;
    height: 203px;
    
}
.action-left h1{
    font-size: 42px;
    font-weight: bold;
    padding-bottom: 23px;
}
.action-left p{
    font-size: 24px;
    color: var(--black2-color) ;
    padding-bottom: 23px;
}
.action-right img{
    height: 328px;
    width: 403px;
    border-radius: 48px;
}
.action-btn {
    font-size: 16px;
    font-weight: ;
    width: 200px;
    height: 34px;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    transition: all ease-in-out .6s;
}
.action-btn:hover{
    transform: translateY(-7px);
    background-color: var(--hover-color);
}

/*---productive-users-section--- */

.productive-users-section{
     width: 1140px;
     height: 308px;
    border-radius: 10px;
    text-align: center;
    margin: 50px auto;
    background-color: #4d47ff25 ;
}
.productive-users-section h2{
    font-size: 38px;
    padding: 40px 0px;
}
.productive-container{
    display: flex;
    justify-content: space-around;
    padding: 10px 70px;
    
    
}
.productive-container h1{
    font-size: 80px;
    font-family: "Montage", sans-serif;
    color: var(--primary-color);
}
.productive-container p{
    font-size: 20px;
    color: var(--black2-color);
}

/* ---user feedback section style---*/

.users-feedback-section{
    width: 1140px;
    height: 308px;
    border-radius: 10px;
    margin: 90px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #26e63025 ;
    

}
.users-feedback-section h2{
    font-size: 42px;
    margin: 15px 0px;
    text-align: center;
}
.users-review-container{
    display: flex;
    justify-content: space-between;

}
.user{
    width: 366px;
    height: 243px;
    padding: 0px 30px;
    margin-top: 30px;
    
}
.star-icon img{
    height: 20px;
    width: 20px;
}
.user h3{
    font-size: 24px;
    margin-top: 10px;
}
.user p{
    margin-top: 10px ;
}
.reviewer-details{
    display: flex;
    gap: 10px;
    margin-top: 15px;
}
.reviewer-details img{
    border-radius: 50%;
}
.reviewer-name{
    color: #757575;
}

/*---Ready to focus better */

.ready-to-focus{
    width: 1140px;
    height: 697px;
    text-align: center;
    margin: 50px auto;
    border-radius: 10px;
    padding: 71px 150px;
    background-color: #f3dada;
}
.ready-to-focus h1{
    font-size:50px ;
}
.ready-to-focus p{
    color: var(--p-color);
    margin-top: 20px;
}
.ready-btn{
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0px;
    width: 195px;
    height: 48px;
    border-radius: 10px;
    border: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: all ease-in-out .6s;
}
.ready-btn:hover{
    background-color: var(--hover-color);
    transform: translateY(-5px);
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0, 0.3);
    color: var(--black2-color);
}
.ready-to-focus img{
    border-radius: 48px;
}

/* ---Touch section style---*/

.touch-section{
    width: 1140px;
    height: 632px;
    padding: 71px 20px;
    display: flex;
    justify-content: space-between;
    margin: 80px auto;
    align-items: center;
    background-color: #e0f3da;
    border-radius: 10px;

}
.left-touch h1{
    width: 528px;
    height: 232px;
    font-size: 90px;
    font-weight: bold;
    
}
form{
    width: 497px;
    height: 490px;
}
form fieldset{
    border: none;
}
form fieldset legend{
    font-size: 18px;
    font-weight: 550;
}
form fieldset input{
    width: 497px;
    height: 70px;
    font-size: 20px;
    border-radius: 10px;
    padding: 30px 20px;
    border: 1px solid #D6DDED;
    margin: 10px 0px 15px 0px;
}
form fieldset textarea{
    width: 497px;
    height: 135px;
    padding: 32px 20px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #D6DDED;
    margin: 10px 0px;
}
.touch-btn{
    width: 497px;
    height: 62px;
    font-size: 16px;
    font-weight: bold;
    padding: 19px 101px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border: none;
    border-radius: 10px;
    margin: 15px 0px;
    transition: all ease-in-out .6s;
}
.touch-btn:hover{
     background-color: var(--hover-color);
    transform: translateY(-5px);
    box-shadow: 0px 0px 10px 0.3px rgba(0, 0, 0, 0.6);
    color: var(--black2-color);
}